<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索引擎</title>
  <style type="text/css">
     #content {
    height: 100px;
    line-height: 100px;
}
      #content2 {
    position: absolute;
    top: 40%;
          left: 35%;
}
</style>
</head>
<body>

<div id="content2">
    <form action = '/search' method="get" style="font-size: 20pt">

    搜索：<input type="text" name="wd" style="font-size: 20pt"  />
    <input type="submit" style="font-size: 20pt" value="Python一下，您就知道"/>


</form>
</div>



</body>
</html>