<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="background-color: antiquewhite;color: black">hello world!</h1>
<script src="/static/js/jquery.js"></script>
<h1 style="background-color: #ff1401">用户输入</h1>
<form action="/index/" method="post">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit" value="提交" />
    <h1 style="background-color: black">用户展示</h1>
    <table border="1">
        <thead>
        <th>用户</th>
        <th>密码</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{ line.user }}</td>
                    <td>{{ line.pwd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</body>
</html>